rojito = #f55c59
linkhover = #717171
aguamarina = #88c7c5
colortexto = #777
plomo_oscu = #444
body
	background url('../images/bg_boxed.jpg') no-repeat fixed top center
	font-family arial
	font-size 16px
	img
		width 100%
	a
		text-decoration none
		color #666666
	.clear
		clear: both;
#block-views-shopping-cart-block
	float right
	position relative
	margin 15px 0 15px 23px
	padding 16px 15px 16px 62px
	background #f2f2f2
	.block__title
		font-size 1.1em
		font-family: 'Yanone Kaffeesatz', sans-serif;
	.view-shopping-cart
		cursor pointer
		position relative
		.view-empty
			p
				color #999
				display inline-block
				margin 0
			.line-item-total-label
				display none
			.line-item-summary
				display inline-block
				margin 0
				ul.links
					position absolute
					left 30px
					bottom -35px
					a
						color #fff
						background rojito
						padding 2px 15px
						border-radius 15px
						&:hover
							background-color plomo_oscu
header
	.header__logo
		width 250px;
	.header__site-name
		font-size 0px
	.header__region
		.block
			display inline-block
			margin 0
		#block-views-exp-display-products-page
			margin 20px
	.header-main
		padding 10px 0
		border-top 1px dotted #d9d9d9
	.header-top
		padding 10px
		border-bottom 1px dotted #d9d9d9
		margin-bottom 1px
#navigation
	background #000
	padding 0
	height auto
	box-shadow 0px 4px 6px gray
	#main-menu
		.links
			li
				padding 0
				a
					font-family: 'Roboto Condensed', sans-serif;
					text-transform uppercase
					padding 20px 17px
					display inline-block
					color #a8a8a8
					&:hover
						background rojito
						color #fff
						text-decoration none
					&.active
						background rojito
						color #fff
#main
	padding-top 4em
	#inicio
		padding 10px 0
#page
	background #fff
//fonts
h1,h2,h3,h4,h5
	font-family 'Roboto Condensed', sans-serif;
	text-transform uppercase;
/*
body
	background url('img/bg_boxed.jpg') no-repeat fixed top center
	color #666666
	font-size 16px
	font-family arial
	a
		color #909090
		&:hover
			color rojito
			text-decoration none
	img
		width 100%
	.enlinea
		display inline-block
	.logo
		width 235px
		margin 0 auto
		padding 20px 0
	.menu
		padding 0
		margin 0
		li
			list-style none
	.oculto
		display none
	.right
		float right
	table
		width 100%
	.wrapper
		background #fff
#carro
	table.productos-bolsa
		border 6px solid #f3f3f3
		thead
			tr
				background-color #f3f3f3
				color #777
				font-size 0.9em
				th
					padding 10px
		tfoot
			tr
				background-color #f3f3f3
				text-align right
				td
					padding 5px
			#orderTotal
				background-color #d9eefa
		.img
			width 20%
#contenido
	padding-bottom 10px
#checkout
	.panel
		.step-titulo
			background-color #dedede
			color #909090
			padding 5px
			h3
				display inline-block
				margin 0
				font-size 1.3em
				span
					width 24px
					display inline-block
					margin 1px 5px
					background-color #fff
					text-align center
					border-radius 20px
			&.activo
				background-color rojito
				h3
					color #fff
					span
						color #909090
header
	.logo
		strong
			font-size 0
			position absolute
	.main-header
		border-top 1px dotted #d9d9d9
		.buscador-minicart
			padding 30px 0 0 0
			.buscador
				padding 20px
				margin-left: 60px;
				.content-buscador
					background-color #ededed
					border-radius 5px
					input
						border none
						background transparent
						margin 5px 
						width 300px
						&:focus
							outline none
					.glyphicon
						background rojito
						color #fff
						border-radius 5px
						padding 8px
			.minicart
				padding 0 50px
				margin 20px
				position relative
				.icono-cart
					width 50px
					height 50px
					position absolute					
					left 0px
					.glyphicon
						font-size 40px
						color #999
					.cantidad
						position absolute
						bottom 0
						left 18px
						display block
						width 30px
						line-height 25px
						text-align center
						background-color rojito
						color #fff
						font-weight bold
						border-radius 20px
						border 2px solid #fff
				.body-cart
					.title-cart
						h2
							font-size 0.9em
							margin 6px
					.detail-cart
						font-size 0.8em
	.top-link
		border-bottom 1px dotted #D9D9D9
		margin-bottom 1px
		padding-top 10px
		padding-bottom 10px
		li
			margin 0 10px
		p
			margin 0
nav#main-menu
	padding 0 0 15px 0
	.content-menu
		background-color #000
		box-shadow 0px 5px 7px
	.menu-login
		background-color rojito
		position relative
		a
			color #fff
		&:after
			content ''
			display block
			position absolute
			background-color rojito
			width 192px
			height 8px
			top -8px
		&:before
			content ''
			display block
			position absolute
			height 19px
			width 20px
			top -19px
			left -10px
			border-left: 10px solid transparent
			border-right: 10px solid transparent
			border-bottom: 8px solid #8A0808
	.menu
		li
			display inline-block
			a
				padding 20px 17px
				display block
.producto
	.image-box
		position relative
		.new-producto
			position: absolute;
			top: 0px;
			display: block;
			width: 60px;
			background: #FF8000;
			line-height: 50px;
			border-radius: 30px;
			padding: 5px;
			color: #fff;
			font-weight: bold;		
	.producto-info
		text-align center
		.product-title
			a
				color #666
		.product-review
			font-size 0.8em
			.estrellitas
				display inline-block
				.glyphicon
					color #FFBF00
		.price-box
			.price
				color rojito
				font-size 1.5em
				margin 0 10px
			.old-price
				text-decoration line-through
#newsletter
	background-color #efefef
	padding 30px 50px 30px 44px
	.titulo-newsletter
		h2
			font-size 1.4em
			margin 0
	p
		font-size 0.8em
footer
	background url('img/bg-big-footer.png') no-repeat top center #1b1b1b
h2,nav#main-menu .menu li a
	text-transform uppercase
	font-weight 500
.body-cart .title-cart,
nav#main-menu .menu li a,
h2,h3,h4,
.producto .product-title a,
.producto .price-box
	font-family: 'Roboto Condensed', sans-serif;
#producto
	.colores
		text-align center
		.varia_color
			width 100px
			display inline-block
	.formu
		background-color: #fff;
		text-align: center;
		padding-top: 50px;
		right: -20px;
		top: 50px;
		border: 1px solid #ddd;
		box-shadow: 1px 1px 10px;
		.price-box
			.antiguo
				color #777
				em
					text-decoration line-through
			.actual
				font-family 'Georgia', serif
				color #8a9c10
				font-weight bold
				font-size 2.2em
			.stock-viability
				color #8a9c10
		.formulario-producto
			select
				margin 10px auto
	.titulo-producto
		font-size 1.5em
		text-align center
	.info-producto
		.descrpcion
			font-size 0.8em
			h3
				color #76860A;
				font italic 20px 'Georgia',serif;
				margin-bottom 20px;
			li
				list-style square
	h3.subtitulo
		display: inline-block;
		margin: 0 0 0 -15px;
		background: #2c5987;
		line-height: 35px;
		color: #fff;
		padding: 0 5px;
		font-size 1.2em
		position relative
	.relacionados
		h3
			font-family Georgia,serif
			font-size 1em
			font-style italic
	.thumns
		padding 50px 10px
*/